@model OnlineShop.ProductService.Products

@Html.AntiForgeryToken()
<div class="form-group">
    @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
<div class="text form-group">
    @Html.LabelFor(m => m.Price, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(m => m.Price, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Description, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextAreaFor(m => m.Description, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

<div class="clear"></div><br />

<label>Изображение:</label>
<input type="file" name="upload" /><br />

<input type="submit" class="btn btn-default" value="Сохранить" /> | @Html.ActionLink("Отмена", "index")
