@using PerpetuumSoft.Knockout
@model OnlineShop.ProductService.Products[]
@{
    ViewBag.Title = "Система управления сайтом";
}

<div class="logout">
    <a href="~/Account/Logout">
        <img src="~/images/admin/logout.png" alt="logout" title="Выйти" />
    </a>
</div>
<p>
    @Html.ActionLink("Добавить новый товар", "Create")
</p>
<br />

<table class="table table-striped">
    <tr>
        <th>Название</th>
        <th>Цена</th>
        <th></th>
    </tr>

    @foreach (var p in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => p.Name)</td>
            <td>@Html.DisplayFor(model => p.Price)</td>
            <td>
                <a href="@Url.Action("Edit", "Admin", new { id = p.Id })">Редактировать</a> |
                <a href="@Url.Action("Delete", "Admin", new { id = p.Id })">Удалить</a>
            </td>
        </tr>
    }
</table>
