<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Online-Shop</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout-3.1.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/perpetuum.knockout.js")" type="text/javascript"></script>
</head>
<body>
    <div class="navbar" style="border-radius: 0; border-bottom: 1px solid #808080;" role="navigation">
        <div class="container">
            <a class="navbar-brand" style="color: #808080;" href="/">Online-Shop</a>
            <a class="btn navbar-btn" href="/admin">Login</a>
            @Html.Action("Summary", "Cart")
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
