@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Online-Shop</title>
    @Styles.Render("~/content/bootstrap")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ajax")
</head>
<body>
    <div class="navbar" style="border-radius: 0; border-bottom: 1px solid #808080;" role="navigation">
        <div class="container">
            <a class="navbar-brand" style="color: #808080;" href="/">Online-Shop</a>
            <a class="btn navbar-btn" href="/admin">Login</a> 
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
