@model OnlineShop.Models.CartIndexViewModel

<table id="cartresult" class="table">
    <thead>
        <tr>
            <th>Количество</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Общая цена</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-left">@line.Quantity</td>
                <td class="text-left">@line.Product.Name</td>
                <td class="text-left">@line.Product.Price.ToString("# руб")</td>
                <td class="text-left">
                    @((line.Quantity * line.Product.Price).ToString("# руб"))
                </td>
                <td>
                    @using (Ajax.BeginForm("RemoveFromCart", "Cart", new AjaxOptions { UpdateTargetId = "cartresult" }))
                    {
                        @Html.Hidden("productId", line.Product.Id)
                        <input class="btn btn-sm btn-danger" type="submit" value="Удалить" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr><td colspan="5"></td></tr>
    </tfoot>
</table>
